* {
	margin: 0px;
	padding: 0px;
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #f9f9f9;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #2E3136;
}
			
#nav {
	height: 55px;
	width: 100%;
	background-color: #1E2124;
	padding: 5px;
	overflow: hidden;
}
			
#toolbar {
	position: fixed;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background-color: #2E3136;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

#toolbaritem {
	width: 200px;
	padding: 5px;
	display: inline-block;
	text-align: center;
}

#menu {
	width: calc(100% - 10px);
	height: calc(100% - 55px);
	padding: 5px;
	background-color: #2E3136;
	overflow: auto;
}

#bkmchat {
	width: calc(100% - 10px);
	height: calc(100% - 105px);
	padding: 5px;
	background-color: #36393E;
	word-wrap: break-word;
	overflow-y: scroll;
}

#bkmlogin {
	width: calc(100% - 10px);
	height: calc(100% - 140px);
	padding: 5px;
	background-color: #36393E;
	word-wrap: break-word;
	overflow: hidden;
}

#bkmform {
	background-color: #36393E;
	
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 10px;

	transform: translate(-50%, -50%);
}

button, input[type=submit] {
	background-color: #1E2124;
	border: 0px;
}

input[type=text], select, input[type=number] {
	background-color: #424549;
	border: 0px;
}

#bkmbox {
	position: absolute;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	top: 50%;
	left: 50%;
	padding: 5px;
	transform: translate(-50%, -50%);
}

#error {
	color: #EE1111;
}
